/* editorjs.module.css */

.editorContainer h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorContainer p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.editorContainer img {
  max-width: 100%;
  height: auto;
}

.editorContainer ul,
.editorContainer ol {
  list-style: none;
  margin-bottom: 1em;
}

.editorContainer li {
  margin-bottom: 0.5em;
}

.editorContainer ul,
.editorContainer ol {
  gap: 0.5em;
}
