@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing styles */

.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #BFE1D4 #F5F6FD;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #F5F6FD;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #DFE2E5;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #c2c2c2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bfc9e1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #A3B4D6;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #373FA3;
  }
}


.custom-scrollbar2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar2 {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}